@import url("fonts.css");

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font: 18px/145% var(--font-family);
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    height: 50px;
    width: 50px;
}
