@font-face {
    font-family: "Hack Nerd";
    src: url("/src/assets/Hack/HackNerdFont-Regular.ttf");
    src: url("/src/assets/Hack/HackNerdFont-Italic.ttf");
    src: url("/src/assets/Hack/HackNerdFont-Bold.ttf");
    src: url("/src/assets/Hack/HackNerdFont-BoldItalic.ttf");
  }
@font-face {
  font-family: "Symbols Nerd";
  src: url("/src/assets/NerdFontsSymbolsOnly/SymbolsNerdFont-Regular.ttf");
  src: url("/src/assets/NerdFontsSymbolsOnly/SymbolsNerdFontMono-Regular.ttf");
}
:root {
  --purple: #aa3bff;
  --dark-purple: rgba(170, 59, 255, 0.5);

  --font-family: "Hack Nerd", "Symbols Nerd", monospace, system-ui;

  font: 18px/145% var(--font-family);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

.terminal {
  display: flex;
  justify-content: center;
}
.terminal label {
  color: var(--purple);
  padding-top: 0.5ch;
  padding-right: 0.5ch;
}

.userProfile {
  width: max-content;
  overflow: hidden;
  border-right: 5px solid var(--purple);
}

.cursor {
  border: none;
  background-color: transparent;
  caret-color: var(--dark-purple);
  caret-shape: block;
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}
